.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #000;
}
.label {
  display: flex;
  flex-direction: column;

  font-size: 16px;
}
.input {
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 4px;
  width: 200px;
}
.input:hover,
.input:focus {
  outline: none;
  border-color: rgb(61, 61, 246);
}
.button {
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;

  margin-right: auto;
}
.button:hover,
.button:focus {
  color: #fff;
  border-color: rgb(61, 61, 246);
  background-color: rgb(61, 61, 246);
}
